*{
    padding: 0px;
    margin: 0px;
}
.section-header{
    background-image: url(Assets/240_F_822749866_qUeRAMhlN8jeJljSGSJQjWJyxjopVHds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 65vh;
}
.header-text{
    text-align: center;
    padding:28vh;
}
.h2{
    font-size: 50px;
}
.btn{
    background-color: rgb(43, 103, 241);
    padding: 9px 20px;
    border-style: none;
    border-radius: 3px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.section-about{
    padding-top: 60px;
    
}
.about-me{
    padding-top: 40px;
    text-align: center;
}
.about-me h1{
    font-size: 40px;

}

.about{
    display: flex;
    justify-content: center;
    padding: 33px 0px;
}
.about-img{
    height: 56vh;
    width:62vh;
}
.div-con p{
    width: 500px ;
    padding: 15px 0px;
}
.service-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.service-item{
    text-align: center;
    padding: 55px;
}
.update-icon{
    font-size:55px;
}
.work-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.work-item{
    text-align: center;
    padding: 50px;
}
.work-img{
    width: 280px;
}
.test-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.test-item{
    text-align: center;
    padding: 0px 0px;
}
.from{
    padding-left: 470px;
    margin-top: 20px;
   
}
.from input{
    width: 306px;
}
.btn-2{
    background-color: rgb(43, 103, 241);
    padding: 9px 18px;
    border-style: none;
    border-radius: 3px;
}
.btn-2 a{
    text-decoration: none;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    padding: 20px 20px;
    background-color: rgb(122, 124, 125);
}
.list-con li{
    list-style-type: none;
}